body{
    background-color: #dec6ec;
}

i{
    cursor: pointer;
    margin: 1rem;
    

}
i:hover{
    
    background-color: rgb(245, 164, 105);
}
.manageh{

    margin: auto;  
     width :40%;
     
}